// COLOR FROM ASSETS PANEL 
$color_orange: rgba(242,166,13,255);
$color_orange_6: rgba(165,115,13,255);
$color_orange_7: rgba(121,83,6,255);
$color_orange_8: rgba(65,44,2,255);
$color_orange_2: rgba(255,247,229,255);
$color_orange_3: rgba(253,220,155,255);
$color_orange_4: rgba(249,193,83,255);
$color_yellow_9: rgba(26,17,0,255);
$color_yellow: rgba(242,219,13,255);
$color_yellow_6: rgba(196,177,8,255);
$color_yellow_7: rgba(135,122,3,255);
$color_yellow_8: rgba(76,68,1,255);
$color_yellow_4: rgba(248,231,84,255);
$color_yellow_3: rgba(253,241,135,255);
$color_yellow_2: rgba(255,250,204,255);
$color_yellow_1: rgba(255,252,229,255);
$color_red_9: rgba(26,23,0,255);
$color_green: rgba(19,236,91,255);
$color_green_6: rgba(13,181,69,255);
$color_green_7: rgba(7,136,50,255);
$color_green_8: rgba(2,85,30,255);
$color_green_4: rgba(79,243,133,255);
$color_green_3: rgba(124,248,165,255);
$color_green_2: rgba(175,253,201,255);
$color_green_1: rgba(229,255,238,255);
$color_green_9: rgba(0,26,9,255);
$color_blue_5: rgba(19,142,236,255);
$color_blue_6: rgba(12,108,182,255);
$color_blue_7: rgba(6,80,137,255);
$color_blue_8: rgba(2,49,85,255);
$color_blue: rgba(78,172,244,255);
$color_blue_3: rgba(123,195,249,255);
$color_blue_2: rgba(195,228,253,255);
$color_blue_1: rgba(229,244,255,255);
$color_blue_9: rgba(0,14,26,255);
$color_red: rgba(236,19,48,255);
$color_red_6: rgba(192,12,36,255);
$color_red_7: rgba(138,5,23,255);
$color_red_8: rgba(65,1,10,255);
$color_red_4: rgba(244,78,100,255);
$color_red_3: rgba(250,122,139,255);
$color_red_2: rgba(254,195,203,255);
$color_red_1: rgba(255,229,233,255);
$color_grey_11: rgba(26,0,3,255);
$color_grey_5: rgba(112,112,143,255);
$color_grey_6: rgba(95,95,124,255);
$color_grey_7: rgba(81,81,108,255);
$color_grey_8: rgba(64,64,89,255);
$color_grey_4: rgba(134,134,162,255);
$color_grey_3: rgba(151,151,180,255);
$color_grey_2: rgba(190,190,208,255);
$color_grey_1: rgba(218,218,231,255);
$color_grey_0: rgba(246,246,249,255);
$color_grey_10: rgba(20,20,31,255);
$color_grey_9: rgba(40,40,62,255);
$color_orange_1: rgba(255,253,250,255);
